* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    width: 100%;
    height: 100vh;
    background: transparent;
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f100;
    }
    ::-webkit-scrollbar-thumb {
        background: #616161d8;
        border-radius: 50px;
    }
}
.expensebuild{
    height: 100%;
}
p{
    font-size: 20px;
    font-weight: 520;
    line-height: 0.8;
}
#add-expenses{
    width: 100%;
    height: 14.8%;
    margin-bottom: 2px;
}
#expense-container {
    margin-left: 2%;
    height: 75%;
    overflow-y: scroll;
}
input[type="text"]{
    height: 100%;
    width: 40%;
    border: none;
    border-radius: 15px;
    padding-left: 1%;
    outline: none;
    margin-left: 2%;
}
input[type="number"]{
    height: 100%;
    width: max(10%,4rem);
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
}
#add{
    width: 3rem;
    height: 100%;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    transition: 0.1s ease-in;
}
#add:hover{
    transform: scale(1.05);
}
#addbtn:active{
    transform: scale(0.9);
}
ul {
    list-style-type: none;
}
ul li {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.251);
    margin-bottom: 2px;
    padding-left: 1%;
    width: 95%;
}
ul li::before {
    content: '';
    position: absolute;
}
ul li::after {
    content: 'Delete';
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
}
ul li:hover::after {
    font-weight: 900;
    border: 1px solid red;
}
/* form print out aadhar xerox makshet copy fees copy bonafied  */